.container {
    display: flex;
    flex-direction: row;
    gap: var(--space-between-elements);
    height: 100%;
    width: 100%;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: var(--space-between-elements);
}

.filter {
    width: 25%;
}

.content {
    width: 75%;
}

.cardsAndPagination {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

@media (max-width: 1199px) {
    .cardContainer {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 767px) {
    .cardContainer {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
